<section>
  <header>
    <h1>BeerGrid Design System</h1>
  </header>

  <article>
    <h2>Typography</h2>
    <h3>Font Families</h3>
    <p class="family-sans-serif">Family Sans Serif<br>Thanks to font creation and buying by Apple, Microsoft, Google, and other folks, most computers have good — no, great — fonts installed, and they're a great option if you want to not load a separate font.</p>
    <p class="family-serif">Family Serif<br>Thanks to font creation and buying by Apple, Microsoft, Google, and other folks, most computers have good — no, great — fonts installed, and they're a great option if you want to not load a separate font.</p>
  </article>
  <article>
    <h3>Font Weights</h3>
    <p class="weight-light">Weight Light</p>
    <p class="weight-normal">Weight Normal</p>
    <p class="weight-bold">Weight Bold</p>
  </article>
  <article>
    <h3>Type Mixins</h3>
    <p class="large-title">Large Title</p>
    <p class="title">Title</p>
    <p class="headline">Headline</p>
    <p class="subheadline">Subheadline</p>
    <p class="data-point">Data Point</p>
    <p class="caption">Caption</p>
  </article>

  <article>
    <h2>Spacing</h2>
    <div class="spacing-boxes">
      <div class="space-xxs"><span class="space-box"></span>space-xxs</div>
      <div class="space-xs"><span class="space-box"></span>space-xs</div>
      <div class="space-s"><span class="space-box"></span>space-s</div>
      <div class="space-m"><span class="space-box"></span>space-m</div>
      <div class="space-l"><span class="space-box"></span>space-l</div>
      <div class="space-xl"><span class="space-box"></span>space-xl</div>
      <div class="space-xxl"><span class="space-box"></span>space-xxl</div>
    </div>
  </article>

  <article>
    <h2>Color</h2>
    <h3>Neutrals</h3>
    <ul class="color-list">
      <li class="white"><span class="swatch"></span> white</li>
      <li class="grey-050"><span class="swatch"></span> grey-050</li>
      <li class="grey-100"><span class="swatch"></span> grey-100</li>
      <li class="grey-200"><span class="swatch"></span> grey-200</li>
      <li class="grey-300"><span class="swatch"></span> grey-300</li>
      <li class="grey-400"><span class="swatch"></span> grey-400</li>
      <li class="grey-500"><span class="swatch"></span> grey-500</li>
      <li class="grey-600"><span class="swatch"></span> grey-600</li>
      <li class="grey-700"><span class="swatch"></span> grey-700</li>
      <li class="grey-800"><span class="swatch"></span> grey-800</li>
      <li class="grey-900"><span class="swatch"></span> grey-900</li>
      <li class="black"><span class="swatch"></span> black</li>
    </ul>
  </article>
  <article>
    <h3>Primary</h3>
    <ul class="color-list">
      <li class="green-050"><span class="swatch"></span> green-050</li>
      <li class="green-100"><span class="swatch"></span> green-100</li>
      <li class="green-200"><span class="swatch"></span> green-200</li>
      <li class="green-300"><span class="swatch"></span> green-300</li>
      <li class="green-400"><span class="swatch"></span> green-400</li>
      <li class="green-500"><span class="swatch"></span> green-500</li>
      <li class="green-600"><span class="swatch"></span> green-600</li>
      <li class="green-700"><span class="swatch"></span> green-700</li>
      <li class="green-800"><span class="swatch"></span> green-800</li>
      <li class="green-900"><span class="swatch"></span> green-900</li>
    </ul>
  </article>

  <article>
    <h2>Radii</h2>
    <ul class="radii-list">
      <li class="radius-s"><span class="radius-box"></span> radius-s</li>
      <li class="radius-m"><span class="radius-box"></span> radius-m</li>
      <li class="radius-l"><span class="radius-box"></span> radius-l</li>
    </ul>
  </article>

  <article>
    <h2>Elevation</h2>
    <div class="box-shadow-01"><span class="shadow-box"></span>box-shadow-01</div>
  </article>
</section>
