@import "utils";

.beer {
  height: 100%;
  color: $card-color;
  display: flex;
  flex-direction: column;

  &__image {
    width: 100%;
    height: $card-image-height;
    object-fit: cover;
    border-radius: $card-radius;
    box-shadow: $card-image-shadow;

    @media screen and (min-width: 60rem) {
      height: $card-image-height-desktop;
    }
  }

  &__header {
    padding-bottom: $card-spacing-vertical;
  }

  &__name {
    @include headline;
    margin-top: $card-spacing-vertical;
  }

  &__style {
    @include subheadline;
    color: $card-color-brand;
  }

  &__meta {
    color: $card-color-brand;
    justify-self: flex-end;
    margin-top: auto;
  }

  &__meta-label {
    color: $card-color-subtle;
    display: block;
    @include caption;
  }

  &__meta-value {
    @include data-point;
    color: $card-color-brand;
  }

  &__abv,
  &__ibu {
    display: inline-block;
    margin-right: $card-spacing-horizontal;
  }
}

.brewery {
  @include caption;
  justify-self: flex-end;
  margin-top: $card-spacing-vertical;

  &__name {
    color: $card-color-subtle;
  }


  &__location{
    color: $card-color-muted;
  }
}
