@import "utils";

.header {
  padding: $header-spacing;
  background: $header-background-color;
  color: $header-color;

  &__venue {
    @include subheadline;
    color: $header-color-muted;
  }

  &__title {
    @include title;
  }
}

.beers {
  padding: $layout-spacing-horizontal;
  display: grid;
  grid-column-gap: $layout-spacing-horizontal;
  grid-row-gap: $layout-spacing-vertical;
  grid-template-columns: $layout-template-columns;
  @media screen and (min-width: 60rem) {
    display: grid;
    grid-template-columns: $layout-template-columns-desktop;
    grid-column-gap: $layout-spacing-desktop-horizontal;
    grid-row-gap: $layout-spacing-desktop-vertical;
  }
}