@import "utils";

.header {
  padding: $header-spacing;
  background: $header-background-color;
  color: $header-color;

  &__title {
    font-weight: $header-title-weight;
    font-size: type-scale(2);
    line-height: baseline-scale(2);
    color: $header-title-color;
  }

  &__subtitle {
    font-size: type-scale(7);
    line-height: baseline-scale(4);
  }
}

.beers {
  padding: $beers-spacing;
  display: grid;
  grid-column-gap: $beers-spacing;
  grid-row-gap: $beers-spacing;
  grid-template-columns: $beers-template-columns;
  @include desktop {
    display: grid;
    grid-template-columns: $beers-template-columns-desktop;
    grid-row-gap: $beers-spacing-desktop;
  }
}