@import "utils";

.header {
  padding: $space-xl $space-m $space-m;
  background: $green-900;
  color: $green-300;

  &__title {
    font-weight: bold;
    font-size: type-scale(2);
    line-height: baseline-scale(2);
    color: $green-500;
  }

  &__subtitle {
    font-size: type-scale(7);
    line-height: baseline-scale(4);
  }
}

.beers {
  padding: $space-m;
  display: grid;
  grid-column-gap: $space-m;
  grid-row-gap: $space-m;
  grid-template-columns: 1fr 1fr;
  @media screen and (min-width: 60rem) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: $space-l;
  }
}