/* TYPOGRAPHY
   ========================================================================== */

// Font Family
$family-sans-serif: sans-serif;
$family-serif:      serif;

// Font Weights
$weight-light:  initial;
$weight-normal: initial;
$weight-bold:   initial;


/* SPACING
   ========================================================================== */

$space-xxs:   initial;
$space-xs:    initial;
$space-s:     initial;
$space-m:     initial;
$space-l:     initial;
$space-xl:    initial;
$space-xxl:   initial;


/* COLOR
   ========================================================================== */

// Neutrals
$white:    initial;
$grey-050: initial;
$grey-100: initial;
$grey-200: initial;
$grey-300: initial;
$grey-400: initial;
$grey-500: initial;
$grey-600: initial;
$grey-700: initial;
$grey-800: initial;
$grey-900: initial;
$black:    initial;

// Primary
$green-050: initial;
$green-100: initial;
$green-200: initial;
$green-300: initial;
$green-400: initial;
$green-500: initial;
$green-600: initial;
$green-700: initial;
$green-800: initial;
$green-900: initial;


/* RADII
   ========================================================================== */

$radius-s:  initial;
$radius-m:  initial;
$radius-l:  initial;


/* ELEVATION
   ========================================================================== */

$box-shadow-01: initial;