/* THEME
   Dark Theme with mixins and variables using existing design tokens
   ========================================================================== */

$body-background-color:             $grey-900;
$body-text-color:                   $grey-050;
$body-family:                       $family-sans-serif;


$header-background-color:           $green-900;
$header-color:                      $green-300;
$header-color-muted:                $green-500;
$header-spacing:                    $space-xl $space-m $space-m;


$layout-spacing-horizontal:         $space-m;
$layout-spacing-vertical:           $space-l;
$layout-template-columns:           1fr 1fr;
$layout-spacing-desktop-horizontal: $space-m;
$layout-spacing-desktop-vertical:   $space-l;
$layout-template-columns-desktop:   1fr 1fr 1fr 1fr;


$card-spacing-vertical:             $space-m;
$card-spacing-horizontal:           $space-s;
$card-color:                        $grey-050;
$card-color-subtle:                 $grey-500;
$card-color-muted:                  $grey-600;
$card-color-brand:                  $green-400;
$card-radius:                       $radius-l;
$card-image-height:                 16rem;
$card-image-height-desktop:         26rem;
$card-image-shadow:                 initial;

// Typography Mixins
@mixin large-title {
  font-size: type-scale(8);
  line-height: baseline-scale(8);
  font-weight: $weight-light;
}

@mixin title {
  font-size: type-scale(6);
  line-height: baseline-scale(8);
}

@mixin headline {
  font-size: type-scale(3);
  line-height: baseline-scale(4);
  font-weight: $weight-bold;
}

@mixin subheadline {
  font-size: type-scale(2);
  line-height: baseline-scale(4);
  font-weight: $weight-bold;
}

@mixin data-point {
  font-size: type-scale(3);
  line-height: baseline-scale(4);
}

@mixin caption {
  font-size: px-rem(10px);
  font-weight: $weight-bold;
  text-transform: uppercase;
}
