/*! beergrid.scss v0.1.0 */

/* Destyle.css, an opinionated reset
   ========================================================================== */
@import './assets/scss/_destyle';


/* Utilities: Design Tokens, Functions and Mixins
   ========================================================================== */
@import './assets/scss/_utils';



/* Base Styles
   Settings for basic design globals
   ========================================================================== */
html {
  font-size: 16px;
  height: 100%;
}

body {
  background: $body-background-color;
  color: $body-text-color;
  font-family: $body-family;
  height: 100%;
  font-size: 1rem;
}